<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head">
    <title>Информация о времени срабатывания контроллеров</title>
</head>
<body>
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div class="container">
    <div class="row justify-content-center g-0">
        <div class="col-6">
            <h2 th:text="#{title.product.info}">Информация о времени срабатывания контроллеров</h2>
            <div class="card" style="max-width: 540px;">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-body">
                            <p th:text="${'ProductService: ' + time.getProduct() + ' ms'}" class="card-text"></p>
                            <p th:text="${'OrderService: ' + time.getOrder()  + ' ms'}" class="card-text"></p>
                            <p th:text="${'CartServase: ' + time.getCart() + ' ms'}" class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
